@import '../../src/app/sassVariables.module';

.container {
  background-color: #ececfe;
  height: 180px;
}

.titlewrapper {
  padding: 0px 1.5em 50px 1.5em;
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 15px;
}

.subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
