@import '../../../../sassVariables.module.scss';

.container {
  flex-direction: column;
  align-items: center;

  display: flex;
  gap: 16px;
  justify-content: space-around;

  border: 1px solid #dddddd;
  border-radius: 16px;

  @media (min-width: $sm) {
    flex-direction: row;
  }
}

.blue {
  color: var(--artwork-major-blue-france);
}

.center {
  text-align: center;

  @media (min-width: $sm) {
    text-align: left;
  }
}

.text-casing {
  text-transform: lowercase;
  display: inline-block;
  &::first-letter {
    text-transform: uppercase;
  }
}
