@import '../../sassVariables.module.scss';

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-contrast-info);
  align-items: center;
  gap: 24px;
  padding-top: 24px;
  color: #0063cb;

  &--home-page-variant {
    background-color: var(--green-menthe-925-125-hover);
    @media (min-width: $lg) {
      padding-top: 80px;
    }
  }

  &--pro {
    background-color: var(--brown-caramel-950-100);
  }
}

.link-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.color {
  color: var(--artwork-major-blue-france);
}

.title {
  text-align: center;
}
