.formWrapper {
  background-color: var(--background-action-high-blue-france-active);
  max-width: 876px;
  width: 100%;
  height: 276px;
  border-radius: 16px;
  padding: 40px;
  gap: 48px;
}

.input {
  label {
    color: var(--color-white);
    span {
      color: #b1b1f9;
    }
  }
}

.buttonGroup {
  margin-top: 64px;
}

.button1 {
  color: var(--color-white);
}

.button2 {
  background-color: var(--background-default-grey);
}
