@import '../../../../sassVariables.module.scss';

.flex {
  flex-grow: 1;
}

.container {
  position: relative;
  top: -90px;

  box-shadow: 0px 6px 18px 0px #00001229;
  background-color: white;

  max-width: 1200px;
  margin: auto;
  min-height: 154px;
}

.firstLinefiltersContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;

  @media (min-width: $md) {
    flex-direction: row;
  }

  .separator {
    background-color: var(--border-default-grey);
    height: 1px;

    @media (min-width: $md) {
      width: 1px;
      height: auto;
    }
  }

  .label-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
  }

  .input-container {
    display: flex;
    flex-direction: row;
    gap: 8px;

    .select {
      display: flex;
      flex-grow: 1;
    }
  }
}

.secondLinefilters {
  &_separator {
    background-color: var(--border-default-grey);
    height: 1px;

    @media (min-width: $md) {
      height: 0px;
    }
  }
  &_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding-top: 16px;

    @media (min-width: $md) {
      flex-direction: row;
      padding-top: 0;
    }
  }
  &_geolocation-container {
    display: flex;
    flex-direction: column;
    gap: 0px;

    @media (min-width: $md) {
      flex-direction: row;
      gap: 16px;
    }
  }
}

.title {
  text-align: center;
  color: var(--text-black-white-grey);
}

.label {
  color: var(--text-title-grey);
}

.icon {
  color: var(--text-mention-grey);
  padding-top: 6px;
}
