@import '../../../../sassVariables.module.scss';

.fieldset {
  border: none;

  & > legend {
    height: 0px;
    visibility: hidden;
  }
}

.container {
  display: flex;
  flex-direction: column;
  }

.separator {
  background-color: var(--border-default-grey);
  height: 1px;
  width: 100%;
}

.label-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
}

.secondLinefilters {
  &_separator {
    background-color: var(--border-default-grey);
    height: 1px;

    @media (min-width: $md) {
      height: 0px;
    }
  }
  &_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding-top: 16px;

    @media (min-width: $md) {
      flex-direction: row;
      padding-top: 0;
    }
  }
  &_geolocation-container {
    display: flex;
    flex-direction: column;
    gap: 0px;

    @media (min-width: $md) {
      flex-direction: row;
      gap: 16px;
    }
  }
}

.title {
  text-align: center;
  color: var(--text-black-white-grey);
}

.label {
  color: var(--text-title-grey);
}
