@import '../../../sassVariables.module.scss';

.page-header.page-header {
  min-height: 360px;
  height: auto;

  @media screen and (max-width: $md) {
    padding-bottom: 100px;
  }

  @media screen and (max-width: $sm) {
    padding-bottom: 120px;
  }
}