.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.panel {
  border-radius: 16px 16px 16px 0px;
  &_may {
    background-color: var(--color-white);
  }
  &_june{
    background-color: var(--border-action-low-green-menthe);
  }
}

.paragraph {
  font-weight: 500;
  color: var(--text-black-white-grey);

  a {
    color: var(--artwork-major-blue-france);
  }
}

.fit {
  width: fit-content;
}

.description {
  color: var(--text-black-white-grey);
  font-style: italic;
}
