@import '../../../../sassVariables.module.scss';

.background {
  background-color: var(--color-white);
}

.sizer {
  max-width: 355px;
}

.padder {
  padding-top: 32px;
  padding-bottom: 16px;

  @media (min-width: $xl) {
    padding-top: 64px;
    padding-bottom: 56px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  text-align: center;
  color: var(--background-action-high-blue-france);
}

.paragraph {
  color: var(--background-action-high-blue-france);
  font-weight: bold;
  text-align: center;
}

.button-wrapper {
  button {
    width: 100%;
    justify-content: center;
  }
}
