@import '../../sassVariables.module.scss';

.blue-background {
  background-color: var(--artwork-major-blue-france);
  padding-top: 64px;
  @media (min-width: $md) {
    padding-top: 0px;
  }
}

.tiles-section {
  max-width: 894px;
}

.video-section {
  max-width: 894px;

  .title {
    color: var(--color-white);
    padding-top: 40px;
    padding-left: 16px;

    @media (min-width: $lg) {
      padding-top: 80px;
      padding-left: 0px;
    }
  }
}

.lines {
  background-color: var(--artwork-major-blue-france);
  .image {
    background-image: url('/images/homepage/lines.png');
    background-repeat: repeat-x;
    height: 44px;
  }
}

.callout-section {
  background-color: var(--artwork-major-blue-france);

  .sizer {
    max-width: 989px;
    padding-top: 24px;
    padding-bottom: 48px;
    @media (min-width: $lg) {
      padding-top: 0px;
      padding-bottom: 0px;
      position: relative;
      top: 48px;
    }
  }
}
