@import '../../sassVariables.module.scss';

.about-container {
  margin: 0 auto 72px;
  padding: 0 1rem;

  &__highlight {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 52px;
    max-width: $layout-max-width;
    margin: -100px auto 0;
    background-color: var(--color-white);

    &-image {
      width: 100%;
      height: auto;
      max-width: 332px;
    }

    &-title {
      margin-bottom: 24px;
      padding-top: 24px;
    }

    @media screen and (max-width: $md) {
      margin-top: -80px;
      flex-direction: column;
      background-color: unset;
      align-items: center;
    }

    @media screen and (max-width: $xs) {
      margin-top: -60px;
    }

    & > div:first-child {
      min-width: 332px;

      @media screen and (max-width: $md) {
        min-width: 168px;
      }
    }
  }
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin: 0 auto 72px;
  padding: 0 1rem;
  max-width: 996px;

  section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-self: baseline;

    &__reference-link {
      color: var(--background-flat-blue-france);
      align-self: baseline;
    }
  }

  .qr-container {
    width: 600px;

    @media screen and (max-width: $md) {
      width: 300px;
      align-self: center;
    }

    @media screen and (max-width: $xs) {
      width: auto;
    }
  }

  .qr-root {
    &.qr-root {
      border-radius: 16px;
      border: 1px solid var(--border-default-grey);
      background-image: unset;
    }

    &__title {
      color: var(--background-flat-blue-france);
    }

    &__header {
      padding: 16px 0;
    }
  }
}
