
.wrapper {
  max-width: 78vw;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
}


.item {
  max-width: 13vw;
  min-width: 250px;
}


@media screen and (max-width: 900px) {
  .container {
    gap:4vw;
  }
}