# Node modules and dependencies
node_modules
npm-debug.log
yarn-error.log

# Output of build process
.next
out

# Docker files
Dockerfile
compose.yml

# Git files
.git
.gitignore

# Editor directories and files
.vscode
.idea
*.sublime-project
*.sublime-workspace
*.swp

# Miscellaneous
.DS_Store
.swc