CRISP_IDENTIFIER=""
CRISP_KEY=""
CRISP_WEBSITE=""

OPENDATASOFT_API_KEY=""
BASE_64_KEY=""

NEXT_PUBLIC_MATOMO_URL=""
NEXT_PUBLIC_MATOMO_SITE_ID=""
NEXT_PUBLIC_LCA_APP_URL=""
NEXT_PUBLIC_TARTEAUCITRON_DOMAIN="localhost%2Fv2"

QR_CODE_BASE_URL=""
LCA_API_URL=
BASE_64_KEY_FOR_SUPPORT_COOKIE=""


