.page {
  position: relative;
}

.faq {
  position: relative;
  top: -60px;

  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
  max-width: 1196px;
  margin-left: auto;
  margin-right: auto;

  &_category_side {
  }

  &_questions_side {
    &_question {
      max-width: 792px;
    }
  }
}

.summary {
  background-color: var(--color-white);
}
