@import '../../sassVariables.module.scss';

.faq {
  position: relative;
  top: -20px;

  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  padding: 24px;
  max-width: $layout-max-width;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $desktop) {
    top: -60px;
    flex-direction: row;
    justify-content: space-between;
  }

  &_questions_side {
    &_question {
      max-width: 792px;
    }
  }
}

.summary {
  background-color: var(--color-white);
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 48px;

  max-width: 1200px;
  margin: auto;
}