.container {
    background-color: #ECECFE;
    padding-left: 3em;
    padding-top: 2rem;
    padding-bottom: 1rem;
    div {
        margin: auto;
        max-width: 78em;
        background-color: #ECECFE;
        nav {
            margin: auto;
            background-color: #ECECFE;
        }
    }
 
    
}