@import '../../src/app/sassVariables.module';

.container {
  background-color: #ececfe;
  padding-left: 3em;
  padding-top: 2rem;
  padding-bottom: 1rem;
  div {
    margin: auto;
    max-width: $max-width;
    background-color: #ececfe;
    nav {
      margin: auto;
      background-color: #ececfe;
    }
  }
}
