@import '../../../../sassVariables.module';


.container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-evenly;
}

.item {
  width: 100%;
  @media (min-width: $sm) {
    width: 282px;
  }
}

.card {
  height: 100%;
}

.more-clubs-wrapper {
  text-align: center;
  button {
    justify-content: center;
    width: 100%;

    @media screen and (min-width: $sm) {
      width: 337px;
    }
  }
}
