@import './sassVariables.module.scss';
@import './utilities.module';

:root {
  --color-white: #ffffff;
  --color-black: #000000;
}

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

// For printing
@page {
  margin: 0;
}
