.text {
  &--italic {
    font-style: italic;
  }
  &--medium {
    font-weight: 500;
  }
  &--black {
    color: var(--color-black);
  }

  &--title-grey {
    color: var(--text-title-grey);
  }
}

.align {
  &-self {
    &--baseline {
      align-self: baseline;
    }
  }
}
