.text {
  &--italic {
    font-style: italic;
  }
  &--medium {
    font-weight: 500;
  }
  &--black {
    color: var(--color-black);
  }

  &--title-grey {
    color: var(--text-title-grey);
  }
}

.cursor {
  &--pointer {
    cursor: pointer;
  }
}

.display {
  &--block {
    display: block;
  }
}

.align {
  &-self {
    &--baseline {
      align-self: baseline;
    }
  }
}

.list {
  &--lean {
    padding-inline-start: unset;
    list-style: none;
    margin-block-start: unset;
    -webkit-margin-before: unset;

    & li::before {
      content: '\200B'; // workaround for voiceover, see https://developer.mozilla.org/fr/docs/Web/CSS/list-style-type#accessibilit%C3%A9
      display: block;
      height: 0px;
    }
  }
}

.span {
  &--with-linebreak {
    &::after {
      content: '\a';
      white-space: pre;
    }
  }
}
