.panel {
  border-radius: 16px 16px 16px 0px;
  background-color: var(--border-action-low-green-menthe);
}

.fit {
  width: fit-content;
  min-width: 200px;
}

.span {
  display: block;
}

.choose-option {
  color: var(--border-plain-grey);
  font-style: italic;
}
