@import '../../../../../../sassVariables.module.scss';

.container {
  &-pro {
    background-color: var(--brown-caramel-925-125);

    &__content {
      text-align: center;
      max-width: 800px;

      &-title {
        color: var(--blue-france-sun-113-625);
      }

      &-badge {
        background-color: #D69E75;
        color: var(--text-action-high-grey);
      }
    }
  }
}