@import '../../../../sassVariables.module.scss';

.sizer {
  max-width: 1200px;
}

.title {
  color: var(--background-action-high-blue-france);
}

.button {
  @media (max-width: $xs) {
    padding: 10px 18px 10px 24px;
  }
}

.background {
  background-color: var(--brown-cafe-creme-925-125);
}

.image-sizer {
  height: auto;
  @media (min-width: $md) {
    height: 600px;
  }
}
