.sizer {
  max-width: 894px;
}

.background {
  background: linear-gradient(180deg, #000091 0%, #fa7659 100%);
}

.image {
  object-fit: contain !important;
  height: 308px;
}

.title {
  color: var(--background-action-high-blue-france);
}
