.container {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.form {
  display: flex;
  flex-direction: column;
  //   gap: 16px;
  flex-grow: 1;
}

.names-input-container {
  display: flex;
  flex-direction: row;
  gap: 16px;

  div {
    flex-grow: 1;
  }
}

.textarea-wrapper {
  textarea {
    height: 200px;
  }
}

.action-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 48px;

  margin-top: 48px;

  &_checkbox {
    flex-basis: 100px;
    flex-grow: 1;
    max-width: 710px;
  }

  &_button {
    button {
      // min-width: 237px;
      padding: 10px 24px;
    }
  }

  .button-wrapper {
  }
}
