@import '../../../app/sassVariables.module.scss';

.container {
  background-color: #ececfe;
  padding: 2rem 1.5rem;

  @media screen and (max-width: $lg) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  div {
    margin: auto;
    max-width: $layout-max-width;
    background-color: #ececfe;

    nav {
      margin: auto;
      background-color: #ececfe;
    }
  }
}
