@import '../../../app/sassVariables.module.scss';

.container {
  background-color: var(--blue-ecume-925-125);
  padding: 2rem 1.5rem;

  &--pro {
    background-color: var(--brown-caramel-950-100) !important;
  }

  @media screen and (max-width: $lg) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  div,
  nav {
    max-width: $layout-max-width;
    margin: auto;

    li:last-child > a{
      color: var(--text-action-high-grey) !important;
    }
  }
}
