@import '../../../app/sassVariables.module.scss';

.container {
  background-color: var(--background-contrast-blue-france);
  padding: 2rem 1.5rem;

  &--pro {
    background-color: var(--brown-caramel-950-100) !important;
  }

  &--qr-page {
    background-color: var(--artwork-major-blue-france) !important;
    color: var(--text-inverted-grey);

    li:last-child a{
      color: var(--text-inverted-grey) !important;
    }
  }

  @media screen and (max-width: $lg) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  div,
  nav {
    max-width: $layout-max-width;
    margin: auto;
  }
}
