@import '../../../sassVariables.module';

.wrapper {
  background-color: var(--brown-caramel-950-100);
  padding-bottom: 72px;
}

.container {
  max-width: 992px;
  background-color: var(--color-white);
  margin: 0 auto;
  padding: 32px 102px;

  @media screen and (max-width: $md) {
    padding: 2rem 1rem;
  }
}

.page-header {
  height: 80px;
  margin: 0;
}