@import '../../../../sassVariables.module.scss';

.main {
  position: relative;
}

.loading-box {
  width: 100%;

  & > div {
    height: 440px;
    width: 100%;
    @media (min-width: $xl) {
      height: 724px;
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & > p {
      font-size: 20px;
    }
  }
}

.too-many-club {
  text-align: center;
  & > span:first-child::after {
    content: '\a';
    white-space: pre;
  }
}
