.question {
  margin-bottom: 0px;

  font-weight: 500;
  color: var(--text-black-white-grey);
}

.success-text {
  font-weight: 700;
  color: var(--text-default-success);
}

.text {
  font-weight: 500;

  a {
    color: var(--artwork-major-blue-france);
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
