@import '../../../../sassVariables.module.scss';

.text {
  font-size: 1rem;
  line-height: 1.5rem;

  @media (min-width: $md) {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  & span {
    font-weight: bold;

    &::after {
      content: '\a';
      white-space: pre;
      @media (min-width: $md) {
        content: none;
        white-space: unset;
      }
    }
  }
}
