@import '../../../../sassVariables.module';

.spacer {
  margin: 0px 16px;

  @media (min-width: $lg) {
    margin: 0px;
  }
}

.center {
  text-align: center;
}

.sizer {
  @media (min-width: $lg) {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.count-and-viewer-container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: $sm) {
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
  }
}

.segmented-control-custom {
  @media (max-width: $sm) {
    & > div {
      width: 100%;
      & > div {
        flex: 1 1 50%;

        & > label {
          justify-content: center;
        }
      }
    }
  }
}

.club-and-filter-container {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (min-width: $md) {
    flex-direction: row;
    align-items: flex-start;
    gap: 0px;

    & > div:first-child {
      flex: 0 0 282px;
    }

    & > div:nth-child(2) {
      width: 100%;
    }
  }
}

