@import '../../../../sassVariables.module';

.spacer {
  margin: 0px 16px;

  @media (min-width: $lg) {
    margin: 0px;
  }
}

.sizer {
  max-width: $xl;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-evenly;
}

.item {
  width: 100%;
  @media (min-width: $sm) {
    width: 306px;
  }
}

.more-clubs-wrapper {
  text-align: center;
  button {
    justify-content: center;
    width: 100%;

    @media screen and (min-width: $sm) {
      width: 337px;
    }
  }
}

.alert-sizer {
  max-width: 1128px;
}
