.wrapper {
  background-color: var(--green-menthe-950-100-hover);
  padding: 24px;
}
.description {
  color: var(--text-title-blue-france);
}

.icon-container{
    display: flex;
    flex-direction: row-reverse;
    
}
