@import '../../../../sassVariables.module.scss';

.container {
  display: flex;
  flex-direction: column;
  background-color: #e8edff;
  align-items: center;
  gap: 24px;
  padding-top: 24px;
  color: #0063cb;

  &--home-page-variant {
    background-color: #e7bfa0;
    @media (min-width: $lg) {
      padding-top: 80px;
    }
  }
}

.link-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.color {
  color: var(--artwork-major-blue-france);
}

.title {
  text-align: center;
}
