.icon-color {
  color: var(--background-action-high-blue-france);
}

.frame {
  border: 1px solid rgba(221, 221, 221, 1);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 18, 0.16);
  padding: 24px;
  max-width: 996px;
  margin: 24px auto 96px auto;
}

.info {
  .contact {
    display: flex;
    flex-direction: column;
    gap: 8px;
    p {
      margin: 0px;
      span {
        padding-right: 8px;
      }
    }
  }

  .tags {
    display: flex;
    flex-direction: row;
    gap: 8px;

    .disability {
      background-color: var(--green-tilleul-verveine-925-125);
    }
  }

  .separator {
    color: var(--border-default-grey);
    margin: 24px 0px 0px 0px;
  }

  .activities {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 24px;
      li {
        margin-right: 24px;
        padding: 0px;
      }
    }
  }
}

