.container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;

  &_filled {
    background-color: var(--artwork-minor-blue-france);
  }

  &_empty {
    background-color: #d9d9d9;
  }
}