@import '../../src/app/sassVariables.module.scss';

.banner {
  background-color: var(--blue-cumulus-850-200);
  text-align: center;
  button {
    width: 100%;
    justify-content: center;

    @media (min-width: $sm) {
      width: fit-content;
      justify-content: left;
    }
  }
}

.text {
  color: var(--text-black-white-grey);
  font-weight: 700;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
