BENEF_2023_PATHFILE=""
BENEF_2023_WITHOUT_CROUS_PATHFILE=""
BENEF_2024_PATHFILE=""
BENEF_2024_QR_CODE_URL_SECRET=""
BENEF_2024_QR_CODE_BASE_URL=""

CNOUS_PATHFILE=""
CNOUS_PART_1_PATHFILE=""
CNOUS_PART_2_PATHFILE=""
MSA_PATHFILE=""
CNAF_PATHFILE=""
CSP_PATHFILE=""

BENEF_2024_BEFORE_INJECTION=""
BENEF_2024_AFTER_INJECTION=""
BENEF_2024_MISSING_BENEF=""

# Variables used for script that check the display of the QR recap page
CODES_PATH_FILE=""
CODES_FAILED_OUTPUT_PATH_FILE=""
CODES_CHUNK_SIZE="50"

DB_MERGED_WITH_ID=""
DB_MERGED_WITHOUT_ID=""

CAMPAIGN_CSV_B=""
CAMPAIGN_CSV_B_AND_A=""
CAMPAIGN_CSV_B_EXISTING=""
CAMPAIGN_CSV_B_AND_A_EXISTING=""
CAMPAIGN_HARD_BOUNCE_BENEF_PATHFILE=""
CAMPAIGN_HARD_BOUNCE_PARENTS_PATHFILE=""
CAMPAIGN_HARD_BOUNCE_BENEF_OUTPUT_PATHFILE=""
CAMPAIGN_HARD_BOUNCE_PARENTS_OUTPUT_PATHFILE=""

CAMPAIGN_HARD_BOUNCE_SMS_12_SEPTEMBER_PATHFILE=""
CAMPAIGN_HARD_BOUNCE_SMS_12_SEPTEMBER_EXTRACTED_INFORMATION_OUTPUT_PATHFILE=""
CAMPAIGN_SPLITTED_FILES_PARENTS_OUTPUT_PREFIX=""
CAMPAIGN_SPLITTED_FILES_BENEF_OUTPUT_PREFIX=""
CAMPAIGN_LINK_MOBILITY_19_SEPTEMBER_CONSOLIDATED_OUTPUT_PATHFILE=""

DB_EXPORT_PEOPLE_NOT_ACTIVATED_PASS_SPORT_PATHFILE=""
DB_CURRENT_WITH_PASS_STATUS=""

# | Type de bénéficiaire | Objet reçu   | Mail reçu    |
# |----------------------|--------------|--------------|
# | 1 (parent)           | 0 (contrôle) | 0 (contrôle) |
# | 1 (parent)           | 0 (contrôle) | 1 (test)     |
# | 1 (parent)           | 1 (test)     | 0 (contrôle) |
# | 1 (parent)           | 1 (test)     | 1 (test)     |
# | 2 (Ben direct)       | 0 (contrôle) | 0 (contrôle) |
# | 2 (Ben direct)       | 0 (contrôle) | 1 (test)     |
# | 2 (Ben direct)       | 1 (test)     | 0 (contrôle) |
# | 2 (Ben direct)       | 1 (test)     | 1 (test)     |
DITP_CAMPAIGN_FROM_26_SEPTEMBER_PART_100_PATHFILE=""
DITP_CAMPAIGN_FROM_26_SEPTEMBER_PART_101_PATHFILE=""
DITP_CAMPAIGN_FROM_26_SEPTEMBER_PART_110_PATHFILE=""
DITP_CAMPAIGN_FROM_26_SEPTEMBER_PART_111_PATHFILE=""
DITP_CAMPAIGN_FROM_26_SEPTEMBER_PART_200_PATHFILE=""
DITP_CAMPAIGN_FROM_26_SEPTEMBER_PART_201_PATHFILE=""
DITP_CAMPAIGN_FROM_26_SEPTEMBER_PART_210_PATHFILE=""
DITP_CAMPAIGN_FROM_26_SEPTEMBER_PART_211_PATHFILE=""

DITP_ANALYSIS_EXPORT_OUPUT_PATH_FILE=""

ACTIVATED_PASS_SPORT_PATH_FILE=""

RGPD_USERS_BLACKLIST_CSV_PATH_FILE="blacklist.csv"