BENEF_2023_PATHFILE=""
BENEF_2023_WITHOUT_CROUS_PATHFILE=""
BENEF_2024_PATHFILE=""
BENEF_2024_QR_CODE_URL_SECRET=""
BENEF_2024_QR_CODE_BASE_URL=""

CNOUS_PATHFILE=""
CNOUS_PART_1_PATHFILE=""
CNOUS_PART_2_PATHFILE=""
MSA_PATHFILE=""
CNAF_PATHFILE=""
CSP_PATHFILE=""

BENEF_2024_BEFORE_INJECTION=""
BENEF_2024_AFTER_INJECTION=""
BENEF_2024_MISSING_BENEF=""

# Variables used for script that check the display of the QR recap page
CODES_PATH_FILE=""
CODES_FAILED_OUTPUT_PATH_FILE=""
CODES_CHUNK_SIZE="50"

DB_MERGED_WITH_ID=""
DB_MERGED_WITHOUT_ID=""

CAMPAIGN_CSV_B=""
CAMPAIGN_CSV_B_AND_A=""
CAMPAIGN_CSV_B_EXISTING=""
CAMPAIGN_CSV_B_AND_A_EXISTING=""
CAMPAIGN_HARD_BOUNCE_BENEF_PATHFILE=""
CAMPAIGN_HARD_BOUNCE_PARENTS_PATHFILE=""
CAMPAIGN_HARD_BOUNCE_BENEF_OUTPUT_PATHFILE=""
CAMPAIGN_HARD_BOUNCE_PARENTS_OUTPUT_PATHFILE=""

RGPD_USERS_BLACKLIST_CSV_PATH_FILE="blacklist.csv"
