@import '../../../sassVariables.module.scss';

.root {
  background-color: var(--grey-975-75);
}

.main-card,
.secondary-card {
  &__title {
    color: var(--text-title-blue-france);
  }

  &__desc {
    display: flex;
    flex-direction: column;
  }

  &__header {
    width: 50% !important;
    flex: 0 0 50% !important;

    @media screen and (max-width: $md) {
      width: 100% !important;
      flex: 0 0 100% !important;

      img {
        width: 100%;
      }
    }
  }

  &__content {
    justify-content: center;
    padding: 32px 56px;

    @media screen and (max-width: $md) {
      padding: 16px 28px;
    }
  }

  &__end{
    display: none;
  }
}

.main {
  &-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 996px;
    gap: 72px;
    margin: 0 auto 72px;

    @media screen and (max-width: $lg) {
      padding: 0 1rem;
    }
  }

  &-card {
    &__highlight {
      margin-top: -110px;
      box-shadow: 0 6px 18px 0 rgba(0, 0, 18, 0.16);

      @media screen and (max-width: $md) {
        margin-top: -60px;
      }

      @media screen and (max-width: $xs) {
        margin-top: -30px;
      }
    }

    &__title {
      font-size: 1.0625rem;
      text-transform: uppercase;
    }

    &__desc {
      font-size: 1.375rem;
      line-height: 1.75rem;

      span {
        display: inline-block;
      }

      button {
        width: 100%;
        justify-content: center;
      }
    }

    &__header {
      aspect-ratio: 1/1;

      @media screen and (max-width: $md) {
        img {
          aspect-ratio: 1/1;
        }
      }
    }
  }
}

.secondary-card {
  &__title {
    font-size: 1.5rem;
  }

  &__header {
    width: 50% !important;
    flex: 0 0 50% !important;
    aspect-ratio: 16/9;

    @media screen and (max-width: $md) {
      width: 100% !important;
      flex: 0 0 100% !important;

      img {
        width: 100%;
        aspect-ratio: 16/9;
      }
    }
  }
}

.page-header {
  &.page-header {
    display: flex;
    align-items: center;
    text-align: center;
    height: 435px;
    background-color: #D69E75;
    color: var(--brown-caramel-850-200);

    h1 {
      max-width: 800px;
    }

    @media screen and (max-width: $md) {
      height: 345px;
    }
  }
}
