@import '../../../sassVariables.module.scss';

.page-header {
  height: 274px !important;
  padding-bottom: 196px;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  max-width: 1200px;
  margin: -166px auto 72px;
  background-color: white;
  padding: 56px 102px 56px;

  @media screen and (max-width: $md) {
    padding: 56px 0 56px;
  }
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 1rem;
}
