@import '../../sassVariables.module';

.wrapper {
  max-width: $max-width;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
  padding: 0 2rem;

  @media screen and (max-width: $lg) {
    padding: 0 1rem;
  }

  &__text--center {
    text-align: center;
  }
}

// Raise the specificity by adding twice the classname
.page-header.page-header {
  height: auto;
  padding-bottom: 2rem;
}
