@import '../../../../sassVariables.module.scss';

.videoContainer {
  position: relative;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    filter: blur(3px);

    @media (min-width: 1232px) {
      height: 600px;
    }
  }
}

.consent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.vimeo_player,
.vimeo_player > iframe {
  width: 100%;
  height: 600px;

  @media screen and (max-width: $lg) {
    height: 450px;
  }

  @media screen and (max-width: $md) {
    height: 400px;
  }

  @media screen and (max-width: $sm) {
    height: 250px;
  }

  @media screen and (max-width: $xs) {
    height: auto;
  }
}
