@import '../../src/app/sassVariables.module.scss';

.container {
  background-color: var(--background-contrast-blue-france);
  height: 180px;
  padding: 0 1rem;

  &--pro {
    background-color: var(--brown-caramel-950-100);
  }
}

.titlewrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: $layout-max-width;
}

.title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 40px;
  margin-bottom: 15px;

  @media screen and (max-width: $xs) {
    text-align: center;
  }
}

.subtitle {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 32px;
}
