@import '../../../../sassVariables.module.scss';

.iframe {
  width: 100%;
  height: calc(100vh / 4);

  @media (min-width: $sm) {
    height: calc(100vh / 2);
  }

  @media (min-width: $md) {
    height: calc(100vh / 1.5);
  }

  @media (min-width: $lg) {
    width: 996px;
    height: 506px;
  }
}

.text {
  color: var(--color-white) !important;
}

.transcription {
  background-color: var(--color-white) !important;
}
