@import '../../../../sassVariables.module.scss';

.videoContainer {
  position: relative;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    filter: blur(3px);

    @media (min-width: 1232px) {
      width: 1200px;
      height: 675px;
    }
  }
}

.consent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vimeo_player,
.vimeo_player > iframe {
  width: 100%;
  height: calc(100vh / 4);

  @media (min-width: $sm) {
    height: calc(100vh / 2);
  }

  @media (min-width: $md) {
    height: calc(100vh / 1.5);
  }

  @media (min-width: $lg) {
    width: 100%;
    height: calc(100vh / 1.3);
  }

  @media (min-width: 1232px) {
    width: 1200px;
    height: 675px;
  }
}

.text {
  color: var(--color-white) !important;
}

.transcription {
  background-color: var(--color-white) !important;
}
