.answer {
  padding: 16px;
  border-radius: 16px 16px 16px 0px;
  background-color: var(--color-white);
  margin-bottom: 0px;
  font-weight: 500;

  p {
    font-weight: 500;
    color: var(--text-black-white-grey);
  }
}
