@import '../../sassVariables.module';

.wrapper {
  background-color: var(--blue-ecume-925-125);
  padding-bottom: 72px;
}

.container {
  max-width: 992px;
  background-color: var(--color-white);
}

.page-header {
  height: 80px;
  margin: 0;
}