@import '../../../../sassVariables.module.scss';

.hero {
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-top: 16px;

  @media (min-width: $md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    padding-bottom: 80px;
    max-width: 1150px;
    padding-top: 48px;
  }
}

.image-sizer {
  flex: 1 1 100px;
}

.panel-sizer {
  margin-top: 8px;
  padding-right: 16px;
  padding-left: 16px;

  @media (min-width: $lg) {
    margin-top: 80px;
  }
}

.panel-background {
  background-color: var(--artwork-major-blue-france);
  position: absolute;
  z-index: -2;
  bottom: 0;
  height: 400px;
  width: 100%;
}

.image {
  object-fit: contain;
  object-position: -16px;
  width: 270px;
  height: 228px;

  @media (min-width: $md) {
    width: 100%;
    height: 100%;
    max-height: 530px;
  }

  @media (min-width: $xl) {
    height: 530px;
  }
}

.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 300px;
  background: linear-gradient(180deg, #5bb5a7 28.02%, #3367ac 68.52%, #000091 99.87%);
  @media (min-width: $md) {
    height: 580px;
  }
  @media (min-width: $lg) {
    height: 653px;
  }
}
