@import '../../../../../sassVariables.module.scss';

.background {
  background-color: var(--artwork-minor-blue-france);
  max-width: 1200px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $desktop) {
    flex-direction: row;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-basis: 100px;
    flex-grow: 1;
  }
}

.button-wrapper {
  button {
    background-color: var(--color-white);
  }
}

.text-color {
  color: var(--color-white);
}

.link::after {
  display: none;
}
