.crisp-image-wrapper {
    border-radius: 100%;
    background-color: #1972F5;
    width: 60px;
    height: 60px;
    display: block;
    position: fixed;
    bottom: 20px;
    right: 24px;
    cursor: pointer;
    z-index: 100000;
    &:hover,:active{
        background-color: #1212ff !important;
    }
    
}


.crisp-img {
    width: 33px;
    height: 28px;
    top: 18px;
    position: absolute;
    left: 15px;
}

